.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
    border-radius: 20px;
}

.navbar-board-name {
    margin-left: 1em;
    padding: 0.2em 0.5em;
    background-color: #555;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    outline: none;

}

.navbar-board-name:focus {
    background-color: #777;
}

.navbar-user-profile img {
    height: 40px;
    border-radius: 20px;
}
/* 기존 CSS 코드에 추가 */

.board {
    display: flex;
    justify-content: space-around; /* 칼럼 간의 공간을 동일하게 배분 */
    margin: 1em;
    flex-wrap: wrap; /* 필요시 다음 줄로 넘김 */
}

.column {
    background-color: #f3f3f3; /* 칼럼 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
    width: calc(25% - 2em); /* 페이지 너비의 1/4에서 좌우 여백을 뺀 크기 */
    margin: 1em; /* 칼럼 간의 여백 */
    padding: 1em;
    box-sizing: border-box; /* padding과 border를 width에 포함 */
    height: 600px; /* 세로 길이 */
}

.card {
    background-color: #ffffff; /* 카드 배경색 */
    border-radius: 5px; /* 모서리 둥글게 */
    margin-bottom: 1em; /* 카드 간의 여백 */
    padding: 0.5em;
    box-sizing: border-box;
}

.card-header {
    margin-bottom: 0.5em; /* 카드 내 제목과 내용 사이의 여백 */
}

.card-new {
    color: #0000ff; /* '새로운 카드 추가' 텍스트 색상 */
    cursor: pointer; /* 마우스 오버시 포인터 모양 변경 */
    padding: 0.5em;
}

/* 미디어 쿼리를 사용하여 반응형 디자인 적용 가능 */
@media (max-width: 1200px) {
    .column {
        width: calc(50% - 2em); /* 화면이 작을 때는 칼럼 두 개씩 표시 */
    }
}

@media (max-width: 600px) {
    .column {
        width: 100%; /* 아주 작은 화면에서는 칼럼 하나씩 표시 */
    }
}
/* 새로운 칼럼 추가 버튼 스타일 */
.add-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C4C4C; /* 버튼 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
}

.add-column-button {
    background: none;
    border: none;
    color: #ffffff; /* 버튼 텍스트 색상 */
    font-size: 1em;
    cursor: pointer; /* 클릭 가능한 항목으로 마우스 커서 변경 */
    padding: 1em;
}

/* 호버 효과 */
.add-column-button:hover {
    background-color: #626262; /* 버튼 배경색 변경 */
}
.column-header,
.task-header {
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 칼럼과 카드의 내용물을 수직으로 중앙에 배치하기 위해 flex 사용 */
.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%; /* 카드 높이 전체를 사용 */
}

/* 반응형 디자인을 위한 추가 미디어 쿼리 */
@media (max-width: 1200px) {
    .column,
    .add-column {
        width: calc(50% - 2em); /* 화면이 작을 때는 칼럼 두 개씩 표시 */
    }
}

@media (max-width: 600px) {
    .column,
    .add-column {
        width: 100%; /* 아주 작은 화면에서는 칼럼 하나씩 표시 */
    }
}
/* 모달 기본 스타일 */
.modal {
    display: none; /* 모달을 기본적으로 숨김 */
    position: fixed; /* 화면 중앙에 위치 */
    z-index: 1; /* 콘텐츠 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 외부 콘텐츠 스크롤 가능 */
    background-color: rgb(0,0,0); /* 불투명도를 위한 검정색 배경 */
    background-color: rgba(0,0,0,0.4); /* 약간의 불투명도 */
}

/* 모달 컨텐츠 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 페이지 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 너비 */
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* iframe 스타일 */
.modal-content iframe {
    width: 100%;
    height: 80vh; /* 뷰포트 높이의 80% */
}

.card {
    background-color: rgba(255, 255, 255, 0.5); /* 흰색 배경에 반투명 효과를 줍니다 */
    border-radius: 10px; /* 모서리 둥글게 */
    margin-bottom: 1em; /* 카드 간의 여백 */
    margin-top: 10px;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 카드에 그림자 효과를 줍니다 */
    transition: 0.3s; /* 부드러운 효과를 위한 전환 속성 */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* 호버시 그림자 효과를 강조합니다 */
}
/* 새로운 카드 추가 버튼 스타일 */
.task-new {
    color: #6F6F83; /* 기본 텍스트 색상 */
    cursor: pointer; /* 마우스 오버시 포인터 모양 변경 */
    padding: 0.5em;
    /* 기타 스타일 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 효과 */
}

/* 호버 효과 */
.task-new:hover {
    background-color: #9C8FBC; /* 호버 시 배경 색상 변경 */
    color: white; /* 호버 시 텍스트 색상 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
}
/* 칼럼 헤더 스타일 */
.column-header {
    /* 기존 스타일 */
    margin-bottom: 20px;
    cursor: text; /* 텍스트 편집 커서 표시 */
}

.column-header:hover {
    border: 1px solid #ccc; /* 호버 시 테두리 스타일 변경 */
}
.gradient-custom {
    background: #e0e0e0;
    background: -webkit-linear-gradient(to right, rgba(224, 224, 224, 1), rgba(105, 105, 105, 1));
    background: linear-gradient(to right, rgba(224, 224, 224, 1), rgba(105, 105, 105, 1));
}
