.card-detail {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    padding: 20px;
    width: 80%; /* 카드 너비를 늘립니다. */
    max-width: 800px; /* 최대 너비를 설정합니다. */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.card-section {
    margin-bottom: 20px; /* 각 섹션 사이의 여백을 추가합니다. */
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px; /* 섹션 제목과 텍스트 영역 사이의 여백 */
}

.description-textarea{
    width: 95%; /* 텍스트 영역 너비를 조정합니다. */
    min-height: 100px; /* 텍스트 영역의 최소 높이를 설정합니다. */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comments-textarea {
    width: 95%; /* 텍스트 영역 너비를 조정합니다. */
    min-height: 30px; /* 텍스트 영역의 최소 높이를 설정합니다. */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment-button {
    padding: 5px 10px;
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-start; /* 버튼을 왼쪽으로 정렬합니다. */
}

.comment-section {
    border-top: 1px solid #eee; /* 댓글 섹션 위에 구분선을 추가합니다. */
    padding-top: 10px;
}

.invite-user-button {
    border: none;
    background-color: #5aac44; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border-radius: 50%; /* 원형 모양 */
    width: 30px; /* 버튼 크기 */
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px; /* 텍스트를 버튼 중앙에 위치 */
    margin-left: 10px; /* 버튼과 텍스트 사이 간격 */
    font-size: 24px;
    font-weight: bold;
}

.invite-user-button:hover {
    background-color: #66bb6a; /* 호버 시 버튼 배경색 변경 */
}
.list-name {
    display: flex; /* flexbox 레이아웃을 사용하여 내부 요소를 수평으로 정렬 */
    align-items: center; /* 수직 방향 중앙 정렬 */
    width: 100%; /* 가로로 전체 너비 사용 */
}

.list-name span {
    flex-grow: 1; /* 가용 공간을 모두 채우도록 설정 */
    padding-right: 10px; /* 버튼과의 간격 */
}
.gradient-custom {
    background: #f7b733;
    background: -webkit-linear-gradient(to right, rgba(247, 183, 51, 1), rgba(255, 221, 89, 1));
    background: linear-gradient(to right, rgba(247, 183, 51, 1), rgba(255, 221, 89, 1));
}