<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카드 상세</title>
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body class="gradient-custom">
<div class="card-detail">
    <div class="card-title">프로젝트 계획</div>
    <div class="list-name">
        <button class="invite-user-button" onclick="inviteUser()">+</button>
    </div>
        <div class="card-section">
            <h2 class="section-title">Description</h2>
            <textarea class="description-textarea" placeholder="내용을 입력하세요"></textarea>
        </div>

        <div class="card-section">
            <h2 class="section-title">Comments</h2>
            <textarea class="comments-textarea" placeholder="댓글 남기기"></textarea>
            <button class="comment-button" onclick="addComment()">Add Comment</button>
        </div>

        <!-- 여기에 댓글이 동적으로 추가될 부분 -->
        <div class="comment-section">
        </div>
    </div>
    <script src="../static/js/card.js"></script>
</body>
</html>
